.wrapper {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-post-holder {
    margin-top: 7%;
    height: auto;
    width: 85%;
    background-color: #F5F5F5;
}
.img-and-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
}
.img-and-text h2 {
    font-size: 2.5em;
}
.not-filled {
    background-color: #F5F5F5;
    height: 7vh;
    border: none;
}
.filled {
    background-color: #3a4cda;
    height: 7vh;
    color: #fff;
    cursor: pointer;
    border: none;
}